<div class="nested-fields">
  <form class="form-inline">


  <div class="form-group">
    <label for="name">Name</label>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <label for="name">Amount</label>
    <%= f.number_field :amount %>
    </div>
  <div class="form-group">
    <label for="name">Unit</label>
    <%= f.text_field :unit %>
</div>

  <%= link_to_remove_association "remove", f %>
    </form>
</div>
