<p id="notice"><%= notice %></p>

<div class="container">

<h1>Shopping List</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.name %></td>
  
    <% end %>
  </tbody>
</table>
</div>
<br>
